.breadcrumbs {
  font-size: 14px;
  font-weight: lighter;
  line-height: 36px;
  color: #000000;
}

.breadcrumbs__list {
  margin: 0;

  padding: 0;
  display: flex;
  

  list-style: none;
}

.breadcrumbs__link {
  text-decoration: none;
  color: inherit;
  
  opacity: 0.3;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
  opacity: 0.6;
}

.breadcrumbs__link:active {
  opacity: 0.1;
}



