.button {
  display: inline-block;
  padding: 0 30px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: 3px;
  text-transform: uppercase;

  border: none;
  border-radius: 0;
  background-color: none;
  background-image: linear-gradient(transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
}

.button:hover, .button:focus {
  background-image: linear-gradient(transparent 0%, #f0c52e 0%, #f0c52e 100%, transparent 100%);
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}
