.catalog-navigation {
  font-size: 15px;
  font-weight: lighter;

  list-style: none;
}

.catalog-navigation__button {
  border: none;
  background: none;
}

.catalog-navigation__button:hover,
.catalog-navigation__button:focus {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-navigation__button:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-navigation__link {
  line-height: 36px;
}

.catalog-navigation__link:hover,
.catalog-navigation__link:focus {
  opacity: 0.6;
}

.catalog-navigation__link:active {
  opacity: 0.3;
}

