.main-footer {
  background-color: #464646;
  color: #ffffff;
}

.main-footer__container {
  margin-top: 65px;
  margin-bottom: 65px;

  display: flex;
  justify-content: space-between;
}

.main-footer__column {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 330px;
  min-height: 190px;
}

.main-footer__column:first-of-type::after {
  content: "";

  margin-top: auto;
  margin-bottom: 9px;

  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.main-footer__column:nth-of-type(2) {
  flex-basis: 440px;
  
  align-items: center;
  padding-top: 74px;
}

.main-footer__column:nth-of-type(3) {
  align-items: flex-end;
}

.main-footer__main-logo {
  margin-bottom: 33px;
}

.main-footer__user-navigation {
  margin-bottom: 31px;
}

.main-footer__academy-link {
  margin-top: auto;
}

