.pagination {
  display: flex;
  justify-content: space-between;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.pagination__list {
  margin: 0;

  display: flex;
  align-items: center;
  padding: 0;

  list-style: none;
}

.pagination__item {
  margin-right: 31px;
}

.pagination__item:last-of-type {
  margin-right: 0;
}

.pagination__button {
  width: 137px;
  height: 70px;
  overflow: hidden;

  border: none;

  line-height: 70px;
  text-overflow: ellipsis;
  text-align: center;
  text-decoration: none;
  color: #000000;

  background-color: #ebebeb;
}

.pagination__button:hover, 
.pagination__button:focus {
  background-color: #d9d9d9;
}

.pagination__button:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination__link {

  text-decoration: none;
  color: #000000;
  
  opacity: 0.3;
}



.pagination__link:hover,
.pagination__link:focus {
  opacity: 0.6;
}

.pagination__link:active {
  opacity: 0.1;
}

.pagination__link_current ,
.pagination__link_current:hover ,
.pagination__link_current:focus ,
.pagination__link_current:active {
  opacity: 1;
}