.search-form {
  display: flex;
  justify-content: space-between;
  width: 440px;
}

.search-form__input {
  box-sizing: border-box;
  flex-grow: 1;
  border: none;

  font-family: inherit;
  font-size: 15px;
  font-weight: lighter;
  line-height: 36px;
  color: inherit;

  background: none;
  outline: none;
}

.search-form__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form__input:hover::placeholder,
.search-form__input:focus::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form__input:focus {
  border-top: 2px solid transparent;
  border-bottom: 2px solid black;
}

.search-form__input:focus + .search-form__button {
  opacity: 1;
}

.search-form__button {
  box-sizing: border-box;
  border: 2px solid #000000;
  
  font-family: inherit;
  font-size: 15px;
  font-weight: lighter;
  line-height: 36px;
  color: #000000;
  
  border-radius: 0;
  background: none;
  opacity: 0;
  outline: none;
}

.search-form__button:hover,
.search-form__button:focus {
  color: #ffffff;

  background-color: #000000; 
}

.search-form__button:focus {
  opacity: 1;
}

.search-form__button:active {
  color: rgba(255, 255, 255, 0.3);
}