.sorting {
  display: flex;
  justify-content: space-between;
  width: 560px;
  align-items: center;
}

.sorting__list  {
  margin: 0;

  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 300px;

  font-size: 14px;
  line-height: 18px;

  list-style: none;
}

.sorting__link {
  text-decoration: none;
  color: inherit;

  opacity: 0.3;
}

.sorting__link:hover,
.sorting__link:focus {
  opacity: 0.6
}

.sorting__link:active {
  opacity: 1;
}

.sorting__link_current,
.sorting__link_current:hover,
.sorting__link_current:focus,
.sorting__link_current:active {
  opacity: 1;
}

.sorting__direction-links {

}

