.user-navigation {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  width: 500px;
  
  font-size: 15px;
  font-weight: lighter;
  line-height: 36px;

  list-style: none;
}

.user-navigation_size_s {
  justify-content: space-between;
  width: 300px;
}

.user-navigation_size_s .user-navigation__item {
  margin-right: 0;
}

.user-navigation_size_s .user-navigation__item:nth-of-type(3n + 2) {
  margin-right: 0;
}

.user-navigation_size_s .user-navigation__item:nth-of-type(3n) {
  margin-right: 0;
}

.user-navigation__item {
  margin-right: 40px;
}

.user-navigation__item:nth-of-type(3n + 2) {
  margin-right: auto;
}

.user-navigation__item:nth-of-type(3n) {
  margin-right: 0;
}

.user-navigation_theme_light {
  
}

.user-navigation__link {
  text-decoration: none;
  color: inherit;

  outline: none;
}

.user-navigation__link:hover ,
.user-navigation__link:focus {
  opacity: 0.6;
}

.user-navigation__link:active {
  opacity: 0.3;
}